{{> header}}

<h1>Listado de productos</h1>
<div class="container">
    {{#if productsArray}}
        <div>
            {{#each productsArray}}
                <h3>Nombre: {{this.name}}</h3>
                <h4>Precio: {{this.price}}</h4>
                <h4>Thumbnail: {{this.thumbnail}}</h4>
            {{/each}}
        </div>
        <div class="divider"></div>
    {{else}}
        <div>
            No se encontraron productos.
        </div>
    {{/if}}
</div>