<header>
    <div>
        <a href="/">
            Inicio
        </a>
    </div>
    <div>
        <a href="/productos">
            Ver productos
        </a>
        <a href="/">
            Agregar productos
        </a>
    </div>
</header>